/* Menambahkan gaya dasar untuk navbar */
footer{
 border-top: 4px $theme dotted;
  text-align: center;
  font-size: 13;
  div{
    margin-bottom: 8px;
  }
}
.nav {
  display: flex; /* Menggunakan flexbox untuk navbar */
  justify-content: space-between; /* Menyebar konten secara merata */
  align-items: center; /* Menengahkan item secara vertikal */
  background-color: $theme;
  font-weight: 500;
}

/* Logo */
.nav .logo {
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Menu */
.nav .menu {
  display: flex; /* Menggunakan flexbox untuk menu */
}

/* Gaya untuk list item */
.nav .menu ul {
  display: flex; /* Menggunakan flexbox untuk list */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/* Gaya untuk list item individual */
.nav .menu ul li {
  padding: 14px 16px; /* Padding untuk list item */
}

/* Gaya untuk link */
.nav .menu ul li a {
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Mengubah warna link saat di-hover */
.nav .menu ul li a:hover {
  background-color: #ddd;
  color: black;
}
