.list-article{
  padding-bottom: 1em;
  padding-top:1em;
 border-bottom: 4px dotted $theme;
.list-article :last-child{
   color: red;
 }
  
}
.list-article h1, .list-article h2, .list-article h3, {
  text-transform: capitalize;
}

.info-list{
  font-size: 12px;
  margin-top:0.3em;
  margin-bottom: 0.3em;
  color: #607274;
}

.list-tags{
  padding-bottom: 1em;
  padding-top:1em;
  //border-bottom: 4px dotted $theme;
  
}
.list-tags::last-child {
  border-bottom: none;
}
.home{
  padding-top:1em;
}