.list-article{
  padding-bottom: 1em;
  padding-top:1em;
 //border-bottom: 4px dotted $theme;
}
.list-article h1, .list-article h2{
  margin: 0;
  padding-block: 0;
}

.list-article h1, .list-article h2, .list-article h3, {
  text-transform: capitalize;
}

.info-list{
  font-size: 12px;
  padding-top:0.5em;
  padding-bottom: 0.5em;
  color: $theme;
  font-weight: 500;
}
