$bread-color: $theme;

.content-page{
  line-height: 2;
  a{
  text-decoration: none $theme 2px;
  color: $theme;
  }
}
.content-page ol li, content-page ul li{
  line-height: 1.8;
  margin-bottom: 5px;
}
main{
  padding :1em;

}
main h1{
  //border-bottom: 0.9px silver solid;
  padding-top: 1em;
  padding-bottom: 0.5em;
  
}
.info-page1{
  margin: 1em 0;
  color: $theme;
  font-size: 14px;
  text-transform: capitalize;
}



.breadcrumb{
  //border-bottom: 3px dotted $theme;
  margin-top:0.5em;
  color: $bread-color;
  padding: 0;
  margin: 0;
  a{
    text-transform: capitalize;
    color :$bread-color;
    font-size: 14px;
    line-height: 1.5 ;
    margin: 0;
    padding-left: 5px;
    padding-right: 0;
    margin-left: -5px;
    padding-top: 3px;
    padding-bottom: 3px;
  }
}
.breadcrumb ol {
  padding-left: 0;
  line-height: 1;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb li:not(:last-child)::after {
  content: "  /  ";
}


/* Style untuk container tag dengan flexbox */
.tags {
  display: flex; /* Menggunakan flexbox untuk menyusun item secara sejajar */
  align-items: center; /* Menyelaraskan item secara vertikal */

}

/* Style untuk judul label */
#tags {
  width: 3rem;
  
}

/* Style untuk daftar tag */
#ul-tags ul {
  list-style-type: none;
  padding: 0;
  display: flex; /* Menampilkan tag secara sejajar */
  flex-wrap: wrap; /* Memungkinkan tag bungkus ke baris berikutnya jika tidak muat */
  margin: 0; /* Menghilangkan margin default */
}

/* Style untuk setiap item tag */
#ul-tags li {
  margin-right: 10px; /* Menambahkan margin kanan */
}

/* Style untuk link tag */
#ul-tags li a {
  text-decoration: none;
  color: white;
  padding: 3px 6px;
  background-color: $theme;
  border-radius: 6px;
  font-size: 12px;
  text-transform: lowercase;
}

/* Style untuk link tag saat di-hover */
#ul-tags li a:hover {
  background-color: #007bff;
  color: white;
}


.related{
  padding: 0;
}
.related ul{
  padding:0;
  list-style: none;
  margin-bottom: 2rem;
  //padding-right: 1em;
  //padding-left: 1em;
}
.related ul li{
  //margin-bottom: 10px;
  font-weight: 500;
  text-transform: capitalize;
  //padding: 0.3em;
  padding-bottom: 1em;
  //border-bottom: $bread-color 1px solid;
  .time{
    font-weight: 400;
    font-size: 14px;
    color:$theme;
  }
}
.related ul li a{
  padding-top :5px;
  padding-bottom: 5px;
}



.h3-side{
  margin-top: 0.5em;
  padding:0;
  padding-block: 0;
 // background-color: grey;
  border-bottom: 6px solid $theme;
  color: $theme;
 // border-radius: 15px;
 text-align: left;
}


/* next-prev.html */
.next-prev {
  padding: 3rem 0;
  display: flex;
  column-gap: 0.5em;
  font-size: 18px;

  > div {
    width: 50%;
    font-weight: 500;
    text-transform: capitalize;
    font-size: 14px;
  }
}
.next-post{
  text-align: left;
}
.previous-post{
  text-align: right;
}

.next-post,
.previous-post {
  a {
    color: $theme;
  }

  .title {
    font-weight: 600;
    margin-bottom: 0.5em;
  }
}


.pagination {
  display: flex;
  list-style: none;
  padding-left: 0;
  justify-content: center;
  margin-top:3em;
}

.page-item {
  margin-right: 5px;
}

.page-link {
  color: $theme;
  text-decoration: none;
  padding: 5px 10px;
  border: 2.5px solid $theme;
  border-radius: 12px;
  font-weight: 500;
}

.page-link:hover {
  background-color: #f5f5f5;
}

.page-item.active .page-link {
  background-color: $theme;
  color: #fff;
  border-color: $theme;
}


.image-caption { margin: 1rem 0; text-align: center; }
.image-caption img { display: block; width: 100%; }
.image-caption figcaption { font-size: 0.8rem; margin-top: 0.5rem; padding: 0.5rem; }
