   <div id="top-nav">
     <h1>Menu Test</h1>
      
     <p>^ stretch to fullscreen ^</p>

     <div class="nav-menu">
           <div class="menu-list">
             <ul>
               <li><a>Home</a></li>
               <li><a>About</a></li>
               <li><a>Contact</a></li>
               <div class="social-icons"><a><i class="fa fa-facebook"></i></a><a><i class="fa fa-twitter"></i></a><a><i class="fa fa-instagram"></i></a></div>
             </ul>
           </div>
           <div id="burger-wrap">
             <a class="burger"><span></span></a>
           </div>
       </div> 
   </div>